#
# Visual Studio
#
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Builds
[Bb]in/
[Oo]bj/

# NUNIT
*.VisualState.xml
TestResult.xml

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini